.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and(min-width:760px) {
    display: flex;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    background: $text-white;
    margin-left: 93px;
    margin-right: 93px;
  }
}

.nav {
  display: flex;
  align-items: center;
  .nav__list {
    display: none;
    @media screen and (min-width: 768px) {
      display: inline-flex;
      display: flex;
      margin-left: 93px;
    }
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.auht__link,
.auht__tel {
  fill: currentColor;
}
.nav__link {
  font-weight: 500;
  line-height: 1.14;
  color: $main-text-cl;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: $animation;

  .nav &:hover,
  .nav &:focus {
    color: $btn-cl;
  }
}
.nav__link-studia {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $btn-cl;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: background-color $animation, color $animation;
}
.auth {
  display: none;
  @media screen and(min-width:768px) {
    display: inline-flex;
    display: block;
    //margin-left: 84px;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    align-items: center;
  }
}
.auth__item:not(:last-child) {
  @media screen and(max-width:1119px) {
    margin-bottom: 10px;
  }
}

.auht__item:not(:last-child) {
  @media screen and(min-width:1200px) {
    margin-right: 50px;
  }
}

.auth__link {
  display: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $pargf-cl;

  display: block;
  transition: background-color $animation, color $animation;
  &:hover,
  &:focus {
    color: $btn-cl;
    fill: $btn-cl;
  }
  &:hover .auth__icon,
  &:focus .auth__icon {
    fill: $btn-cl;
  }
}
.auht__item:not(:last-child) {
  margin-right: 10px;
}
