.mobile-menu {
  display: flex;
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  z-index: 1;
  padding: 48px 48px;

  transition: $animation;
  &.is-open {
    left: 0;
  }
  &__link {
    font-style: Medium;
    font-size: 40px;
    line-height: 1.18;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 2%;
    color: $main-text-cl;
    transition: $animation;
    &:hover,
    &:focus {
      color: $btn-cl;
    }
  }
}
.mobile-menu__list {
  margin-bottom: 64px;
}
.mobile-menu__link {
  &__active {
    color: $btn-cl;
  }
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-auth {
  margin-top: auto;
  margin-bottom: 64px;
  &__item {
    margin-bottom: 10px;
  }

  &__tel {
    font-style: Medium;
    font-size: 34px;
    line-height: 1.18;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 2%;
    color: $btn-cl;
  }
  &__mail {
    font-style: Medium;
    font-size: 24px;
    line-height: 1.17;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 2%;
    color: $pargf-cl;
  }
}
.mobile-auht__item:not(:first-child) {
  margin-bottom: 32px;
}
.menu-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 10px;

  &__link {
    font-style: Medium;
    font-size: 18px;
    line-height: 22px;
    line-height: 104%;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 2%;
    color: $btn-cl;
  }
}
.menu-social__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.mobile-menu__btn {
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 2;
  width: 40px;
  height: 40px;
  top: 10;
  right: 16;
  background-color: transparent;
  border: none;
  cursor: pointer;
  @media screen and(min-width: 768px) {
    display: none;
  }
  &:hover {
    fill: $btn-cl;
  }
}

.is-open .mobile-menu__icon-menu {
  display: none;
}
.mobile-menu__icon-close {
  display: none;
  .is-open & {
    display: block;
  }
}
